<a href="https://colab.research.google.com/github/juandsalazars/pandas-training/blob/main/Demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Demographic Data Analyzer - freecodecamp.org

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [ ]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [ ]:
average_male_age = df[df['sex'] == 'Male']['age'].mean()
average_male_age

39.43354749885268

### What is the percentage of people who have a Bachelor's degree?

In [47]:
people_with_bachelors = df['education'].value_counts()['Bachelors']
percentage_with_bachelors = people_with_bachelors / df.count().iloc[0] * 100
percentage_with_bachelors

16.44605509658794

How chatGPT does it:

In [48]:
percentage_with_bachelors = (df['education'] == 'Bachelors').mean() * 100
percentage_with_bachelors

16.44605509658794

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [ ]:
people_advanced_education = df[
    (df['education'] == 'Bachelors') |
    (df['education'] == 'Masters') |
    (df['education'] == 'Doctorate')
]

percentage_advanced_education_more_than_50K = people_advanced_education[
    people_advanced_education['salary'] == '>50K'
]['salary'].value_counts()['>50K'] / people_advanced_education.count().iloc[0] * 100

percentage_advanced_education_more_than_50K

46.535843011613935

Following chatGPT previous example:

In [49]:
(people_advanced_education['salary'] == '>50K').mean() * 100

46.535843011613935

### What percentage of people without advanced education make more than 50K?

In [ ]:
people_without_advanced_education = df[
    (df['education'] != 'Bachelors') &
    (df['education'] != 'Masters') &
    (df['education'] != 'Doctorate')
]

percentage_without_advanced_education_more_than_50K = people_without_advanced_education[
    people_without_advanced_education['salary'] == '>50K'
]['salary'].value_counts()['>50K'] / people_without_advanced_education.count().iloc[0] * 100

percentage_without_advanced_education_more_than_50K

17.3713601914639

In [50]:
(people_without_advanced_education['salary'] == '>50K').mean() * 100

17.3713601914639

### What is the minimum number of hours a person works per week?

In [ ]:
min_hours_per_week = df['hours-per-week'].value_counts().min()
min_hours_per_week

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [ ]:
people_who_work_min_hours = df[df['hours-per-week'] == min_hours_per_week]
percentage_who_work_min_hours_50K = people_who_work_min_hours['salary'].value_counts()['>50K'] / len(people_who_work_min_hours) * 100
percentage_who_work_min_hours_50K

10.0

In [51]:
(people_who_work_min_hours['salary'] == '>50K').mean() * 100

10.0

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [ ]:
people_per_country = df['native-country'].value_counts()
people_per_country_50K = df[df['salary'] == '>50K']['native-country'].value_counts()
country_with_highest_percentage = (people_per_country_50K * 100 / people_per_country).idxmax()
highest_percentage = (people_per_country_50K * 100 / people_per_country).max()

print(country_with_highest_percentage)
print(highest_percentage)

Iran
41.86046511627907

### Identify the most popular occupation for those who earn >50K in India.

In [ ]:
popular_occupation_india_50K = df[
    (df['salary'] == '>50K') & (df['native-country'] == 'India')
]['occupation'].value_counts().idxmax()

popular_occupation_india_50K

'Prof-specialty'